<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-8">
      <% if @member.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            Folgende Fehler sind aufgetreten: <%= pluralize(@member.errors.count, "error") %>.
            <ul>
            <% @member.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= form_for(@member) do |f| %>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Vorname</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Nachname</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Geburtstag</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.date_field :date_of_birth, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Straße</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :street, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Hausnummer</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :street_number, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">PLZ</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :postal_code, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Stadt</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :city, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Land</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.collection_select :country, Country.all, :name, :name, {}, {class: "custom-select"} %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Email</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :contact_email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Telefon</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :contact_phone, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Mitglied seit</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.date_field :member_since, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Mitgliedsbeitrag (Euro)</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_field :membership_fee_in_euro, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Mitgliedsart</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.collection_select :membership_type, MembershipType.all, :id, :name, {}, {class: "custom-select"} %>
          </div>
        </div>
        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Aufnahmeantrag vorhanden</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.check_box :application_form_present, class: "form-control" %>
          </div>
        </div>

        <% Member.all_tags.each do |tag| %>
          <%= check_box_tag tag, tag %><%= tag %>
        <% end %>

        <div class="form-group row">
          <label for="partner_name" class="col-sm-2 col-lg-4 col-form-label">Kommentar</label>
          <div class="col-sm-10 col-lg-6">
            <%= f.text_area :comment, class: "form-control" %>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>
    </div>
  </div>
</div>
