<tr>
  <td><%= member.first_name %></td>
  <td><%= member.last_name %></td>
  <td><%= member.tags.to_sentence %></td>
  <td><%= last_payment_for_table(member) %></td>
  <td><%= link_to(fa_icon("edit"), edit_member_path(member))  %></td>
</tr>
